.header
  background-color: #008daa
  &-wrapper
    display: flex
    padding-top: 30px
    padding-bottom: 30px
    flex-direction: row
    align-items: center
    justify-content: space-between
    &-text
      font-family: Roboto
      font-size: 24px
      line-height: 24px
      font-weight: 400
    &-icons
      display: flex
      align-items: center
      justify-content: end
  &-menu
    display: flex
    align-items: center
    justify-content: end
  &__title
    list-style: none
    text-decoration: underline
    color: #d4d0c8
