* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-top {
  background-color: #008daa;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.header-wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__title {
  list-style: none;
  text-decoration: underline;
  color: #d4d0c8;
}

.header__icons:not(:last-child)::after {
  content: '';
  margin-right: 48px;
}

.header {
  background-color: #eeeeed;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.header-menu-list__item:not(:last-child)::after {
  content: url(../../assets/img/dot.png);
  margin-left: 16px;
  margin-right: 16px;
  color: #06bac5;
}

.header-menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #06bac5;
}

.hero {
  background-color: #eeeeed;
  z-index: -2;
}

.hero-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 300px;
}

.hero__img {
  position: absolute;
  top: 250px;
  left: 40px;
  z-index: 0;
}

.hero__title {
  margin-bottom: 122px;
  font-family: Philosopher;
  font-size: 55px;
  line-height: 92px;
  font-weight: 400;
  color: #005c7b;
  z-index: 3;
}

.hero__subtitle {
  margin-bottom: 75px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #005c7b;
  z-index: 1;
}

.hero-btn {
  padding: 20px 40px;
  border-radius: 60px;
  border: none;
  background-color: #005c7b;
  font-family: Roboto;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #eeeeed;
  z-index: 1;
}

.about {
  margin-bottom: 192px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.about-card__image {
  margin-bottom: 45px;
}

.about-card__title {
  margin-bottom: 24px;
  font-family: Philosopher;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.about-card__subtitle {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #008daa;
}

.about__title {
  margin-top: 112px;
  margin-bottom: 115px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
}

.about__subtitle {
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.about__info {
  margin-bottom: 112px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.advantages {
  background-color: #eeeeed;
  margin: 0;
  padding-top: 140px;
  padding-bottom: 300px;
}

.advantages__title {
  margin-bottom: 76px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
}

.advantages-box {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.advantages-box-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-box__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.advantages-box__image {
  margin-right: 40px;
}

.questions {
  padding-top: 142px;
}

.questions-box {
  padding-bottom: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__title {
  margin-bottom: 77px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
}

.questions-bottom {
  margin-top: 60px;
  margin-bottom: 46px;
}

.questions-bottom__title {
  font-family: Philosopher;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #008daa;
}

.questions__link {
  margin: auto;
  font-family: Philosopher;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: underline;
  color: #005c7b;
}

.question__title {
  margin-bottom: 20px;
  font-family: Philosopher;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #008daa;
}

.answer__title {
  margin-left: 40px;
  font-family: Roboto;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #005c7d;
}

.reviews-box {
  margin: 0;
  padding: 0;
  background-color: #eeeeed;
}

.reviews__title {
  padding-top: 139px;
  padding-bottom: 50px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
  text-transform: uppercase;
}

.reviews-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin: 0 auto 45px;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #005c7b;
}

.reviews-slider__username {
  font-family: Philosopher;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #008daa;
}

.reviews-slider__avatar {
  margin-bottom: 27px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.reviews-slider__button--prev {
  background-image: url(../../assets/img/left_178.png);
  top: 130px;
  left: 200px;
}

.reviews-slider__button--next {
  background-image: url(../../assets/img/right_177.png);
  top: 130px;
  right: 200px;
}

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 141px;
  padding-bottom: 212px;
}

.contacts-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-box-links {
  margin-bottom: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-box-links__title {
  font-family: Roboto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: #005c7d;
}

.contacts-box-links__line {
  margin: 0 100px;
}

.contacts-box-links__link {
  font-family: Roboto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-decoration: underline;
  color: #008daa;
}

.contacts__title {
  margin-bottom: 167px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
  text-transform: uppercase;
}

.contacts__subtitle {
  margin-bottom: 64px;
  font-family: Roboto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: #005c7d;
}

.contacts__icons:not(:last-child)::after {
  content: '';
  margin-right: 100px;
}

.footer {
  background-color: #005c7b;
  color: #eeeeed;
}

.footer-box {
  padding: 20px 0 26px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.footer-box__link {
  font-size: 18px;
  text-decoration: underline;
}

.footer-box__link:-webkit-any-link {
  color: #eeeeed;
}

.footer-box__link:-moz-any-link {
  color: #eeeeed;
}

.footer-box__link:any-link {
  color: #eeeeed;
}
/*# sourceMappingURL=style.css.map */