* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-top {
  background-color: #008daa;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.header-wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__title {
  list-style: none;
  text-decoration: underline;
  color: #d4d0c8;
}

.header__icons:not(:last-child)::after {
  content: '';
  margin-right: 48px;
}

.header {
  background-color: #eeeeed;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.header-menu-list__item:not(:last-child)::after {
  content: url(../../assets/img/dot.png);
  margin-left: 16px;
  margin-right: 16px;
  color: #06bac5;
}

.header-menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #06bac5;
}

.hero {
  background-color: #eeeeed;
  z-index: -2;
}

.hero-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 300px;
}

.hero__img {
  position: absolute;
  top: 250px;
  left: 40px;
  z-index: 0;
}

.hero__title {
  margin-bottom: 122px;
  font-family: Philosopher;
  font-size: 55px;
  line-height: 92px;
  font-weight: 400;
  color: #005c7b;
  z-index: 3;
}

.hero__subtitle {
  margin-bottom: 75px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #005c7b;
  z-index: 1;
}

.hero-btn {
  padding: 20px 40px;
  border-radius: 60px;
  border: none;
  background-color: #005c7b;
  font-family: Roboto;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #eeeeed;
  z-index: 1;
}

.about {
  margin-bottom: 192px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.about-card__image {
  margin-bottom: 45px;
}

.about-card__title {
  margin-bottom: 24px;
  font-family: Philosopher;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.about-card__subtitle {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #008daa;
}

.about__title {
  margin-top: 112px;
  margin-bottom: 115px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
}

.about__subtitle {
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.about__info {
  margin-bottom: 112px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.advantages {
  margin-top: 140px;
  margin-bottom: 300px;
}

.advantages__title {
  margin-bottom: 76px;
  font-family: Philosopher;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #005c7b;
}

.advantages-box {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #005c7b;
}

.advantages-box-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-box__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.advantages-box__image {
  margin-right: 40px;
}
/*# sourceMappingURL=style.css.map */